<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Project Management</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house fa-lg me-2"></i> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="users">
                <i class="fa-solid fa-users fa-lg me-2"></i> Users
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="projects">
                <i class="fa-solid fa-folder-open fa-lg me-2"></i> Projects
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="tasks">
                <i class="fa-solid fa-list-check fa-lg me-2"></i> Tasks
            </NavLink>
        </div>
    </nav>
</div>