@using ProjectManagement.IService
@using ProjectManagement.Models
@inject IUserService UserService;
@inject ITaskService TaskService;
@inject IProjectService ProjectService;
@inject NavigationManager _navigationManager

<EditForm Model="Project" OnSubmit="Edit">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit project</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="mb-3">
            <label for="projectName" class="form-label">Project name</label>
            <InputText type="text" @bind-Value="Project.projectName" class="form-control" id="projectName"/>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <InputTextArea @bind-Value="Project.description" class="form-control" id="description"/>
        </div>
        <div class="mb-3">
            <label for="startDate" class="form-label">Start date</label>
            <InputDate @bind-Value="Project.startDate" class="form-control" id="startDate"/>
        </div>
        <div class="mb-3">
            <label for="endDate" class="form-label">End date</label>
            <InputDate @bind-Value="Project.endDate" class="form-control" id="endDate"/>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <InputSelect class="form-control" @bind-Value="Project.status">
                <option value="InProgress">In Progress</option>
                <option value="Completed">Completed</option>
            </InputSelect>
        </div>
        <div class="mb-3">
            <label for="project" class="form-label">Manager</label>
            <InputSelect class="form-control" @bind-Value="Project.managerId">
                @foreach (var manager in UserService.GetAllUsers())
                {
                    <option value="@manager.userId">@manager.email</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Change</button>
    </div>
</EditForm>

@code {

    [Parameter]
    public Project Project { get; set; }

    private void Edit()
    {
        ProjectService.Update(Project);
        _navigationManager.Refresh(true);
    }

}